.contato-form,
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.col {
  grid-column: 1 / -1;
}
.form label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-seriff;
  margin-bottom: 4px;
}
.input {
  padding: 12px;
  height: 48px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--cor-02);
  border: 1px solid var(--cor-01);
  margin-bottom: 20px;
  font: 400 1rem/1.5 "Roboto", sans-serif;
}
.input:focus {
  outline: none;
  border-color: var(--cor-p1);
  background-color: var(--cor-00);
  box-shadow: 0 0 0 2px #fea;
}
@media (max-width: 800px) {
  .contato-form,
  .formulario {
    padding: 20px;
  }
  .contato-form .formulario {
    border-radius: 0 0 5px 5px;
  }
}
@media (max-width: 600px) {
  .contato-form .formulario {
    grid-template-columns: 1fr;
  }
}
