.contato-bg {
  background: linear-gradient(var(--cor-11) 50%, var(--cor-01) 50%);
}
#contato{
  background: var(--cor-01);
}
.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}
.contato-loja,
.contato-form {
  padding: 60px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.contato-loja {
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat bottom 20px left 20px;
  border-radius: 5px 0 0 5px;
}
.contato-loja h2 {
  margin-bottom: 60px;
}
.contato-loja-endereco,
.contato-loja-email,
.contato-loja-telefone {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  align-items: center;
}
.contato-loja-endereco,
.contato-loja-email {
  margin-bottom: 32px;
}
.contato-loja-telefone {
  margin-bottom: 60px;
}
.contato-loja-endereco li,
.contato-loja-email li {
  grid-column: 2 / -1;
}
.contato-rede-social {
  display: flex;
  gap: 32px;
  margin-left: 26px;
}

.contato-form {
  border-radius: 0 5px 5px 0;
  background: var(--cor-00) url("../../img/dec/bottom-right.svg") no-repeat bottom 20px right 20px;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-loja,
  .contato-form {
    padding: 20px;
  }
  .contato-loja {
    border-radius: 5px 5px 0 0;
    background: var(--cor-12);
  }
  .contato-form {
    border-radius: 0 0 5px 5px;
  }
  .contato-loja h2,
  .contato-loja-telefone {
    margin-bottom: 32px;
  }
  .contato-rede-social {
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .contato-form {
    grid-template-columns: 1fr;
  }
}
